﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Error.aspx.cs" Inherits="WebApplication1.Error" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
  <h1>Error occurred!</h1>
</asp:Content>
